<div class="content" fxLayout="column" fxLayoutAlign="start center" >

        <h1 >Contact Me</h1> 
        
        <a class="info-link" href="../../../assets/resume/Odisho_Samano_Resume_2022 (1).docx" download><i class="fas fa-download"></i> Download my resume</a>
        <a class="info-link" href="mailto:osamsam321@gmail.com" target="_blank"><i class="fas fa-envelope"></i> Email me</a>
        <a class="info-link" href="tel:847-461-3506"><i class="fas fa-phone"></i> Call me</a>
        <a class="info-link" href="https://github.com/osamsam321" target="_blank"><i class="fab fa-github"></i> Visit my GitHub</a>
        <a class="info-link" href="https://www.linkedin.com/in/odilink/" target="_blank"><i class="fab fa-linkedin"></i> Visit my Linkedin</a>

</div>
