<div class="main_content_container" >
  <div class="content_container">

        <div class="title_container"> <h1 class="get_animated">Contact Me</h1> </div>

        <div id="link_container">
          <a class="info-link get_animated" href="../../../assets/resume/Odisho_Samano_Resume_Latest.docx" download><img width="24" height="24" src="https://img.icons8.com/material-rounded/48/FFFFFF/download--v1.png" alt="download--v1"/> Download my resume</a>
          <a class="info-link get_animated" href="mailto:osamsam321@gmail.com" target="_blank"><img width="24" height="24" src="https://img.icons8.com/material-rounded/24/FFFFFF/new-post.png" alt="new-post"/> Email me</a>
          <a class="info-link get_animated" href="tel:847-461-3506"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/FFFFFF/phone.png" alt="phone"/> Call me</a>
          <a class="info-link get_animated" href="https://github.com/osamsam321" target="_blank"><img width="24" height="24" src="https://img.icons8.com/material-rounded/24/FFFFFF/github.png" alt="github"/> Visit my GitHub</a>
          <a class="info-link get_animated" href="https://www.linkedin.com/in/odilink/" target="_blank"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/linkedin.png" alt="linkedin"/> Visit my Linkedin</a>
        </div>
  </div>

</div>
