
    

    <div class="container" fxLayoutAlign ='center'  fxLayout = 'column'>

        <div class="item" fxLayoutAlign ='center' fxLayout = 'column'>
            
            <div class = 'sub_container' fxLayoutAlign ='center' > 
                <h2>Resume</h2> 
            </div>
            <p> updated resume: </p>
            <a href="resume.pdf" target="_blank">View my resume</a>
        </div>

        <div class="item" fxLayoutAlign ='center' fxLayout = 'column'>
            <div class = 'sub_container' fxLayoutAlign ='center'> 
                <h2>Contact Info</h2> 
            </div>
            <p>Email: <a href="mailto:your-email@gmail.com">your-email@gmail.com</a></p>
            <p>Phone: (123) 456-7890</p>
        </div>

        <div class="item" fxLayoutAlign ='center' fxLayout = 'column'>
            <div class = 'sub_container' fxLayoutAlign ='center'> 
                <h2>Links</h2> 
            </div>
            <p>Gmail: <a href="mailto:your-email@gmail.com">Gmail</a></p>
            <p>Github<a href="https://github.com/your-username" target="_blank">GitHub</a></p>
        </div>
    </div>

