#parent_nav_element
{
    padding:17px;
    overflow: hidden;
    background-color: #242323;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
}

h3, a{
    font-family: Verdana, Roboto, Tahoma, sans-serif;
    cursor: pointer;
    text-decoration: none;
}
a:focus{
  color: #fe1110;
  text-decoration: none;
  border: none;
  outline: none;
}
.primary-default-color{
  color: rgb(250,250,250);
}

#nav_logo
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#basic_img_wrapper
{
    height: 50px;
    width: 50px;
}

.nav-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


/* Small devices (phones, 0px to 599px) */
@media only screen and (max-width: 599px) {
  a{
    font-size: 13.5px;
  }
  .nav-container{
    width:400px;
  }
  #parent_nav_element
  {
    padding:13px;
  }
}

/* Medium devices (small tablets, 600px to 899px) */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  a{
    font-size: 16px;
  }
  .nav-container{
    width:550px;
  }
  #parent_nav_element
  {
    padding:14px;
  }
}

/* Large devices (tablets, 900px to 1199px) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  a{
    font-size: 16.5px;
  }
  .nav-container{
    width:700px;
  }
  #parent_nav_element
  {
    padding:15px;
  }
}

/* Extra-large devices (small laptops, 1200px to 1799px) */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  a{
    font-size: 17px;
  }
  .nav-container{
    width:900px;
  }
  #parent_nav_element
  {
    padding:16px;
  }
}

/* Extra-extra-large devices (large laptops and desktops, 1800px and above) */
@media only screen and (min-width: 1800px) {
  a{
    font-size: 18.5px;
  }
  .nav-container{
    width:1200px;
  }
  #parent_nav_element
  {
    padding:17px;
  }
}


