

<div id = 'parent_nav_element'>

    <!-- <div id="basic_img_wrapper">
        <img id="nav_logo" src = '../../../assets/img/png-clipart-logo-graphic-design-circle-cool-miscellaneous-text-thumbnail.png'>
     </div>  -->

    <nav  class="nav-container" class="nav-container">
             <a  id ='home' tabindex="-1" #nav_home_link [routerLink]="['/home']" (click)="updateNav(0)"> Home </a>
             <a id ='about_me' tabindex="-1" #nav_about_me_link [routerLink]="['/about_me']" (click)="updateNav(1)"> About Me</a>
            <a id ='projects' tabindex="-1" #nav_projects_link [routerLink]="['/projects']" (click)="updateNav(2)"> Projects </a>
            <a id ='misc' tabindex="-1" #nav_misc_link [routerLink]="['/misc']" (click)="updateNav(3)"> Contact </a>



    </nav>



</div>
