

<div id = 'parent_nav_element'>

    <!-- <div id="basic_img_wrapper">
        <img id="nav_logo" src = '../../../assets/img/png-clipart-logo-graphic-design-circle-cool-miscellaneous-text-thumbnail.png'>
     </div>  -->

    <nav class="nav-container">
      <a id="home" class="primary-default-color" tabindex="-1" #nav_home_link [routerLink]="['/home']"  > Home </a>
      <a id="about_me" class="primary-default-color" tabindex="-1" #nav_about_me_link [routerLink]="['/about_me']"  > About Me</a>
      <a id="projects" class="primary-default-color" tabindex="-1" #nav_projects_link [routerLink]="['/projects']"  > Projects </a>
      <a id="misc" class="primary-default-color "tabindex="-1" #nav_misc_link [routerLink]="['/misc']"  > Contact </a>
    </nav>




</div>
