
<Main #main_page (click) = "mainPageClicked($event)">

    <section [@openClose] = "current_page_val == 0? 'open': 'closed'" id = "about_me_section"  
    #about_me_section (@openClose.done)="onAnimationDone($event)" >
      <div class="container" >
        <div class="row">
         
          <div class="col-md-6">
            <!-- <h1 fxLayoutAlign = 'center' class="title" >About Me</h1> -->
            <div class="title-container">
              <h1 class="title">About Me</h1>
            </div>
            
            <p class="section-description">Hi, I'm John Doe, a passionate web developer with 5 years of experience in creating modern and responsive websites. I specialize in front-end development using Angular, HTML, CSS, and JavaScript.</p>
            <p class="section-description">I have a keen eye for detail and enjoy creating visually appealing and user-friendly websites. I am always eager to learn new technologies and techniques to enhance my skills and stay up-to-date with the latest web development trends.</p>
            <p class="section-description">In my free time, I enjoy working on personal projects, contributing to open-source projects, and keeping myself updated with the latest advancements in the web development community.</p>
            <p class="section-description">If you have a project that you'd like to discuss or have any questions, feel free to get in touch with me. I'm excited to hear from you!</p>
          </div>
        </div>
      </div>
    </section>

  <section [@openClose] = "current_page_val == 1? 'open': 'closed'" (@openClose.done)="onAnimationDone($event)" 
        id="skill_container_section" #skills_container_section> 
    <div id="skill_section_cont" fxLayoutAlign="space-around" fxLayout="row wrap">

          <!-- <h1 fxLayoutAlign = 'center' class="title"> Skills</h1> -->
          <div class="title-container">
            <h1 class="title">Skills</h1>
          </div>

          <div class="hidden" tabindex="0"> </div>

        <div  id="java_skills_box_cont" class="skill_box_cont" 
          (click) ="skillsBoxClicked($event)" tabindex="1" > 
          <div class="skills_cont_img_wrap"> 
            <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-java-50.png'>
          </div>
            <h1 class="skills_box_title"> Java</h1>
            <div class="hidden_inside_skills_cont"> </div>

        </div>

        <div id="linux_skills_box_cont"  class="skill_box_cont"  
         (click) ="skillsBoxClicked($event)" tabindex="2" > 
        <div class="skills_cont_img_wrap"> 
          <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-linux-48.png'>
        </div>
            <h1 class="skills_box_title" > Linux</h1>
            <div class="hidden_inside_skills_cont"> </div>


        </div>

        <div id="python_skills_box_cont"  class="skill_box_cont"  
          (click) ="skillsBoxClicked($event)" tabindex="3" > 
         <div class="skills_cont_img_wrap"> 
          <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-python-48.png'>
        </div>
            <h1 class="skills_box_title"> Python</h1>
            <div class="hidden_inside_skills_cont"> </div>


        </div>

        <div id="aws_skills_box_cont" #skills_box_cont class="skill_box_cont"  
         (click) ="skillsBoxClicked($event)" tabindex="4"> 
        <div class="skills_cont_img_wrap"> 
          <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-amazon-web-services-48.png'>
        </div>
            <h1 class="skills_box_title"> AWS</h1>
            <div class="hidden_inside_skills_cont"> </div>


        </div>

        <div id="microsoft_skills_box_cont" #skills_box_cont class="skill_box_cont"  
       (click) ="skillsBoxClicked($event)" tabindex="5"> 
        <div class="skills_cont_img_wrap"> 
          <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-microsoft-48.png'>
        </div>
             <h1 class="skills_box_title"> Microsoft </h1> 
            <div class="hidden_inside_skills_cont"> </div>


        </div>

        <div id="frontend_skills_box_cont" #skills_box_cont class="skill_box_cont"  
         (click) ="skillsBoxClicked($event)" tabindex="6"> 
        <div class="skills_cont_img_wrap"> 
          <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-front-end-64.png'>
        </div>
            <h1 class="skills_box_title"> FrontEnd</h1>
            <div class="hidden_inside_skills_cont"> </div>

        </div>

        <!-- <div id="other_skills_box_cont" #skills_box_cont class="skill_box_cont"  
         (click) ="skillsBoxClicked($event)" > 
        <div class="skills_cont_img_wrap"> 
          <img class="skills_cont_img" src = '../../../assets/img/about-me/icons8-categorize-50.png'>
        </div>
            <h1 class="skills_box_title"> Other</h1>
            <div class="hidden_inside_skills_cont"> </div>

        </div> -->
        

    </div>

  </section>

<section id="skills_modal_section"> 
  <div  fxLayoutAlign="space-around" fxLayout="row wrap">

      <div class="modal" *ngIf ="modal_is_open" #modal >

       <container-element [ngSwitch] = "model_to_open_title">

          <div *ngSwitchCase="'java_skills_box_cont'">
              <div class="modal-content" #modalContent>
                <span class="modal-close" ></span>
                <div class="modal_title_cont"> 
                  <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-java-50.png'>
                  <h2 class="modal_title">Java</h2> 
                   <div class="hidden_title_modal_cont"> </div>  
                </div>
                <p class="model_skill_description">
                  I have a strong proficiency in Java programming language, with several years of experience developing robust and scalable applications. I am well-versed in object-oriented principles, design patterns, and best practices. My expertise lies in developing backend systems, enterprise applications, and web services using Java frameworks like Spring and Hibernate. I am also knowledgeable in Java-based technologies such as JavaFX and Java EE. With my deep understanding of the Java ecosystem, I am able to deliver efficient and maintainable code solutions.

                </p>
             </div>
        
          </div>
         
          <div *ngSwitchCase="'linux_skills_box_cont'">
              <div class="modal-content" #modalContent>
                <span class="modal-close" ></span>
                <div class="modal_title_cont"> 
                  <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-linux-48.png'>
                  <h2 class="modal_title">Linux</h2> 
                   <div class="hidden_title_modal_cont"> </div>  
                </div>
                <p class="model_skill_description">
                  I possess a strong familiarity with Linux operating systems and command-line environments. I am comfortable working with various Linux distributions and have experience managing servers, configuring networks, and administering Linux-based systems. I am proficient in shell scripting, allowing me to automate tasks and streamline workflows. Additionally, I have knowledge of Linux server technologies such as Apache, Nginx, and MySQL, enabling me to deploy and maintain web applications effectively. With my expertise in Linux, I am able to troubleshoot issues, optimize performance, and ensure the smooth operation of Linux-based infrastructures.

                </p>
             </div>
          </div>

          <div *ngSwitchCase="'python_skills_box_cont'">
              <div class="modal-content" #modalContent>
                <span class="modal-close" ></span>
                <div class="modal_title_cont"> 
                  <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-python-48.png'>
                  <h2 class="modal_title">Python</h2> 
                   <div class="hidden_title_modal_cont"> </div>  
                </div>                <p class="model_skill_description">
                  I possess a comprehensive understanding of Python programming language and its wide range of applications. I have leveraged Python's simplicity and versatility to develop various types of projects, including web applications, data analysis scripts, and automation tools. My experience with Python frameworks like Django and Flask enables me to build robust and scalable web applications efficiently. Additionally, I have utilized Python libraries such as NumPy, Pandas, and Matplotlib for data manipulation, analysis, and visualization. With my Python skills, I am able to deliver reliable and efficient solutions across different domains.

                </p>
              </div>
          </div>

          <div *ngSwitchCase="'aws_skills_box_cont'">
               
            <div class="modal-content" #modalContent>
              <span class="modal-close" ></span>
              <div class="modal_title_cont"> 
                <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-amazon-web-services-48.png'>
                <h2 class="modal_title">AWS</h2> 
                 <div class="hidden_title_modal_cont"> </div>  
              </div>              <p class="model_skill_description">
                    
                I have a solid understanding of cloud computing concepts and extensive experience working with Amazon Web Services (AWS). I have successfully deployed and managed applications on various AWS services, including EC2, S3, Lambda, RDS, and more. I am proficient in designing and implementing scalable and highly available architectures on AWS, leveraging services like Auto Scaling, Elastic Load Balancing, and VPC. My expertise extends to cloud security, monitoring, and cost optimization techniques, ensuring efficient and secure cloud deployments.
              </p>
            </div>
          
          </div>

          <div *ngSwitchCase="'microsoft_skills_box_cont'">


              <div class="modal-content" #modalContent>
                <span class="modal-close" ></span>
                <div class="modal_title_cont"> 
                  <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-microsoft-48.png'>
                  <h2 class="modal_title">Microsoft</h2> 
                   <div class="hidden_title_modal_cont"> </div>  
                </div>                <p class="model_skill_description">

                  I have a proficient understanding of Microsoft technologies and frameworks, including .NET and ASP.NET. I have worked on developing and maintaining enterprise applications using Microsoft's stack, leveraging tools like Visual Studio and SQL Server. I am skilled in creating desktop applications, web applications, and APIs using C# and ASP.NET MVC. My knowledge extends to working with Microsoft Azure for cloud-based deployments, including Azure App Service, Azure SQL Database, and Azure Functions. With my expertise in Microsoft technologies, I am able to deliver reliable and scalable solutions on this platform.
                </p>
              </div>
          </div>
      

          <div *ngSwitchCase="'frontend_skills_box_cont'">
            <div class="modal-content" #modalContent>
              <span class="modal-close" ></span>
              <div class="modal_title_cont"> 
                <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-front-end-64.png'>
                <h2 class="modal_title">FrontEnd</h2> 
                 <div class="hidden_title_modal_cont"> </div>  
              </div>              <p class="model_skill_description">yes them</p>
            </div>

          </div>

          <div *ngSwitchDefault>

            <p> nothing here</p>
          </div>

          
       </container-element>

       <div fxLayoutAlign = "center" style="width: 100%;"> 
          <button id="close_modal_btn" (click) = "closeModal()"> Exit</button>

       </div>
      </div>
      
 </div>  

 
</section>

<section [@openClose] = "current_page_val == 2? 'open': 'closed'" id = "dunbar_work_experience_section"  
    #dunbar_work_experience_section (@openClose.done)="onAnimationDone($event)">
  <div class="container"  >
    <div class="row">
      <div class="title-container">
        <h1 class="title"> Work Experience</h1>

        <h3 id="dunbar_consulting_title"> Dunbar Consulting</h3>
        <p class = 'section-description'> 

          During my tenure as a software engineer at Dunbar Consulting, I had the opportunity to work on diverse and challenging projects, refining my skills and achieving significant milestones. One of my notable achievements was being part of a cross-functional team that developed a cutting-edge enterprise application for a prominent financial client. Through meticulous software design, development, and implementation, we successfully streamlined their operations and improved efficiency.

At Dunbar Consulting, I continuously expanded my skill set and knowledge base. Engaging in regular code reviews and collaborating with talented colleagues, I honed my abilities in various programming languages, frameworks, and tools. This allowed me to adapt swiftly to evolving project requirements.

Beyond technical expertise, I excelled in communication, teamwork, and problem-solving. I effectively communicated with stakeholders, project managers, and fellow engineers, ensuring seamless collaboration and successful project outcomes.

My strong work ethic, attention to detail, and commitment to excellence were consistently acknowledged. I thrived under pressure, meeting project deadlines while maintaining a high standard of quality.

Looking back at my time at Dunbar Consulting, I am proud of my contributions to the company's growth and success. The experience cultivated my professional growth and equipped me with invaluable skills, preparing me for future challenges and accomplishments in my career as a software engineer.






        </p>
      </div>

    </div>
  </div>
</section>


<!-- <img id="move_down_arrow" (click)="changeToNextPageDown()"  src="../../../assets/img/about-me/icons8-arrow-100 (1).png">  -->
<div id="page_dot_value_cont">

  <div class="page_dot_value" #page0_dot_value id="page0_dot_value" (click)="updateCurrentPageVal(0)"> </div>
  <div class="page_dot_value" #page1_dot_value id="page1_dot_value" (click)="updateCurrentPageVal(1)"> </div>
  <div class="page_dot_value" #page2_dot_value id="page2_dot_value" (click)="updateCurrentPageVal(2)"> </div>

</div>


</Main>

  