.project-box {
    margin: 3% auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(52, 51, 51);
    box-shadow: 0px 0px 10px 0px rgb(31, 145, 239);
    transition: all 0.3s ease-in-out;
    display: flex;
    width: 1100px;
    justify-content: space-around;
}
main{

    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('../../../../assets/img/home_img/blue-mountain-vugxyc127quhpdj_walpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: hidden; 
}
.project-box:hover {
    box-shadow: 0px 0px 20px 0px rgba(225, 240, 10, 0.807);
}



.project-title {
    font-size: 1.5em;
    color: #333;
}

.project-description {
    font-size: 1.2em;
    color: #fff8f8;
    margin: 10px 0;
}

.project-link {
    color: #0066ff;
    text-decoration: none;
}


.project-image{
    width: 400px;
    height: 180px;
    border-radius: 20px;

}
.project-box
{
    
}
.project-description
{
    width: 30%;
}