    
    
   <main>
    <div class="project-box">
        <img class="project-image" src="../../../../assets/img/projects/Screenshot from 2023-06-27 02-08-48.png" alt="Project Image">
        <h2 class="project-title">Project Title</h2>
        <p class="project-description">This is a description of the project. It talks about what the project does, who it's for, and any other relevant details.</p>
        <a class="project-link" href="https://github.com/username/project">View on GitHub</a>
    </div>

    <div class="project-box">
        <img class="project-image" src="../../../../assets/img/projects/SQL_extrator_Net_Core.png" alt="Project Image">
        <h2 class="project-title">Project Title</h2>
        <p class="project-description">This is a description of the project. It talks about what the project does, who it's for, and any other relevant details.</p>
        <a class="project-link" href="https://github.com/username/project">View on GitHub</a>
    </div>

    <div class="project-box">
        <img class="project-image" src="../../../../assets/img/projects//bbo_screanshot.png" alt="Project Image">
        <h2 class="project-title">Project Title</h2>
        <p class="project-description">This is a description of the project. It talks about what the project does, who it's for, and any other relevant details.</p>
        <a class="project-link" href="https://github.com/username/project">View on GitHub</a>
    </div>

    <div class="project-box">
        <img class="project-image" src="../../../../assets/img/projects/Screenshot from 2023-06-27 01-13-04.png" alt="Project Image">
        <h2 class="project-title">Project Title</h2>
        <p class="project-description">This is a description of the project. It talks about what the project does, who it's for, and any other relevant details.</p>
        <a class="project-link" href="https://github.com/username/project">View on GitHub</a>
    </div>


    <div class="project-box">
        <img class="project-image" src="../../../../assets/img/projects/Screenshot from 2023-06-27 02-00-40.png" alt="Project Image">
        <h2 class="project-title">Project Title</h2>
        <p class="project-description">This is a description of the project. It talks about what the project does, who it's for, and any other relevant details.</p>
        <a class="project-link" href="https://github.com/username/project">View on GitHub</a>
    </div>


   </main> 































<!-- <main fxLayoutAlign = 'center' fxLayout = 'column' fxFlexAlign = 'center' >

    <div class="project_box" fxLayoutAlign = 'center' fxFlexAlign = 'center' fxLayout = 'column'>
        <div id="top_title_cont">
            <h1 id="top_tile"> Title 1 </h1>
        </div>
        
        <div id="project_img_cont">
                <img src="" alt="" id="project_img">
                
        </div>

        <div id="description_cont">
            
            <p>   
                asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg 
            </p>

        </div>

        
    </div>

    <div class="project_box" fxLayoutAlign = 'center' fxFlexAlign = 'center' fxLayout = 'column'>
        <div id="top_title_cont">
            <h1 id="top_tile"> Title 1 </h1>
        </div>
        
        <div id="project_img_cont">
                <img src="" alt="" id="project_img">
                
        </div>

        <div id="description_cont">

            <p>   
                asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg 
            </p>

        </div>

        
    </div>

    <div class="project_box" fxLayoutAlign = 'center' fxFlexAlign = 'center' fxLayout = 'column'>
        <div id="top_title_cont">
            <h1 id="top_tile"> Title 1 </h1>
        </div>
        
        <div id="project_img_cont">
                <img src="" alt="" id="project_img">
                
        </div>

        <div id="description_cont">
            <p>   
                asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg 
            </p>
        </div>

        
    </div>

</main> -->