    
    
   <main>
    <section [@openClose] = "current_page_val == 0? 'open': 'closed'" id = "about_me_section"  
    #page_1 (@openClose.done)="onAnimationDone($event)" >
    
        <div class="project-box " tabindex="1">
            <img class="project-image" src="../../../../assets/img/projects/Screenshot from 2023-06-27 02-08-48.png" alt="Project Image">
            <div class=" tile_description_cont col_flex_cont  "> 
                <h2 class="project-title font_style_1 color_highlight"> Shuroyo (Simple Wiki App) </h2>
                <p class="project-description">
                    This is a straightforward, user-friendly wiki application that allows users to upload and view application-related documents in various formats including PDF, Word, HTML, and Markdown.


                </p>
            </div>
            <div class="col_flex_cont font_style_1" > 
                <a class="project-link" target="_blank"  href="https://github.com/osamsam321/SHUROYO">View on GitHub</a>
                <h4 class="year_active"> Year: 2023 </h4>
                <h4 class="status status_active_color"> Active </h4>
            </div>
        </div>
    
        <div class="project-box" tabindex="2">
            <img class="project-image" src="../../../../assets/img/projects/SQL_extrator_Net_Core.png" alt="Project Image">
            <div class=" tile_description_cont col_flex_cont  "> 
                <h2 class="project-title font_style_1 color_highlight"> SQL Query and Text builder </h2>
                <p class="project-description">
                    With this apps, users add an sql query into a textbox and the set of value from  they want to add into their query 
                    like from spreadsheets or from files and select the settings they desire and finally copy the results. 
                    This app is built with .NET Winforms and C#  

                </p>
            </div>
            <div class="col_flex_cont" > 
                <a class="project-link" target="_blank" href="https://github.com/osamsam321/SqlData-Excel-Text-Extractor">View on GitHub</a>
                <h4 class="year_active"> Year: 2022 </h4>
                <h4 class="status status_active_color"> Active </h4>
            </div>
        </div>
    
        <div class="project-box" tabindex="3">
            <img class="project-image" src="../../../../assets/img/projects//bbo_screanshot.png" alt="Project Image">
            <div class=" tile_description_cont col_flex_cont  "> 
                <h2 class="project-title font_style_1 color_highlight"> Text Extractor to SQL </h2>
                <p class="project-description">
                    This application, specifically designed to extract ID values from an Excel spreadsheet, is instrumental in set SQL queries for my professional tasks. It's been built using  Java, JavaFX, and Apache POI.

                </p>
            </div>
            <div class="col_flex_cont" > 
                <a class="project-link" target="_blank" href="https://github.com/osamsam321/BBO">View on GitHub</a>
                <h4 class="year_active"> Year: 2022 </h4>
                <h4 class="status status_not_active_color"> Not Active </h4>
            </div>
        </div>
    

    </section>
    <section [@openClose] = "current_page_val == 1? 'open': 'closed'" id = "about_me_section"  
    #page_2 (@openClose.done)="onAnimationDone($event)" >
    
    <div class="project-box" tabindex="4">
        <img class="project-image" src="../../../../assets/img/projects/Screenshot from 2023-06-27 01-13-04.png" alt="Project Image">
        <div class=" tile_description_cont col_flex_cont  "> 
            <h2 class="project-title font_style_1 color_highlight"> First Portfolio Website </h2>
            <p class="project-description">
                This was my first portfolio site I built back in college. This app is using 
                HTML, CSS and javascript.

            </p>
        </div>
        <div class="col_flex_cont" > 
            <a class="project-link" target="_blank" href="https://github.com/osamsam321/portfolio-personalSite">View on GitHub</a>
            <h4 class="year_active"> Year: 2021 </h4>
            <h4 class="status status_not_active_color"> Not Active </h4>
        </div>
    </div>


    <div class="project-box" tabindex="5">
        <img class="project-image" src="../../../../assets/img/projects/Screenshot from 2023-06-27 02-00-40.png" alt="Project Image">
        <div class=" tile_description_cont col_flex_cont  "> 
            <h2 class="project-title font_style_1 color_highlight"> Tik Tac Toe </h2>
            <p class="project-description">
                This is A Tik Tac Toe game I built back in college using HTML, CSS and javascript.

            </p>
        </div>
        <div class="col_flex_cont" > 
            <a class="project-link" target="_blank" href="https://github.com/osamsam321/portfolio-personalSite/tree/main/tic%20tak%20toe">View on GitHub</a>
            <h4 class="year_active"> Year: 2020 </h4>
            <h4 class="status status_not_active_color"> Not Active </h4>
        </div>
    </div>


      </section>

      <section id="skills_modal_section"> 
        <div  fxLayoutAlign="space-around" fxLayout="row wrap">
      
            <div class="modal" *ngIf ="modal_is_open" #modal >
      
             <container-element [ngSwitch] = "model_to_open_title">
      
                <div *ngSwitchCase="'java_skills_box_cont'">
                    <div class="modal-content" #modalContent>
                      <span class="modal-close" ></span>
                      <div class="modal_title_cont"> 
                        <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-java-50.png'>
                        <h2 class="modal_title">Java</h2> 
                         <div class="hidden_title_modal_cont"> </div>  
                      </div>
                      <p class="model_skill_description">
                        I have a strong proficiency in Java programming language, with several years of experience developing robust and scalable applications. I am well-versed in object-oriented principles, design patterns, and best practices. My expertise lies in developing backend systems, enterprise applications, and web services using Java frameworks like Spring and Hibernate. I am also knowledgeable in Java-based technologies such as JavaFX and Java EE. With my deep understanding of the Java ecosystem, I am able to deliver efficient and maintainable code solutions.
      
                      </p>
                   </div>
              
                </div>
               
                <div *ngSwitchCase="'linux_skills_box_cont'">
                    <div class="modal-content" #modalContent>
                      <span class="modal-close" ></span>
                      <div class="modal_title_cont"> 
                        <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-linux-48.png'>
                        <h2 class="modal_title">Linux</h2> 
                         <div class="hidden_title_modal_cont"> </div>  
                      </div>
                      <p class="model_skill_description">
                        I possess a strong familiarity with Linux operating systems and command-line environments. I am comfortable working with various Linux distributions and have experience managing servers, configuring networks, and administering Linux-based systems. I am proficient in shell scripting, allowing me to automate tasks and streamline workflows. Additionally, I have knowledge of Linux server technologies such as Apache, Nginx, and MySQL, enabling me to deploy and maintain web applications effectively. With my expertise in Linux, I am able to troubleshoot issues, optimize performance, and ensure the smooth operation of Linux-based infrastructures.
      
                      </p>
                   </div>
                </div>
      
                <div *ngSwitchCase="'python_skills_box_cont'">
                    <div class="modal-content" #modalContent>
                      <span class="modal-close" ></span>
                      <div class="modal_title_cont"> 
                        <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-python-48.png'>
                        <h2 class="modal_title">Python</h2> 
                         <div class="hidden_title_modal_cont"> </div>  
                      </div>                <p class="model_skill_description">
                        I possess a comprehensive understanding of Python programming language and its wide range of applications. I have leveraged Python's simplicity and versatility to develop various types of projects, including web applications, data analysis scripts, and automation tools. My experience with Python frameworks like Django and Flask enables me to build robust and scalable web applications efficiently. Additionally, I have utilized Python libraries such as NumPy, Pandas, and Matplotlib for data manipulation, analysis, and visualization. With my Python skills, I am able to deliver reliable and efficient solutions across different domains.
      
                      </p>
                    </div>
                </div>
      
                <div *ngSwitchCase="'aws_skills_box_cont'">
                     
                  <div class="modal-content" #modalContent>
                    <span class="modal-close" ></span>
                    <div class="modal_title_cont"> 
                      <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-amazon-web-services-48.png'>
                      <h2 class="modal_title">AWS</h2> 
                       <div class="hidden_title_modal_cont"> </div>  
                    </div>              <p class="model_skill_description">
                          
                      I have a solid understanding of cloud computing concepts and extensive experience working with Amazon Web Services (AWS). I have successfully deployed and managed applications on various AWS services, including EC2, S3, Lambda, RDS, and more. I am proficient in designing and implementing scalable and highly available architectures on AWS, leveraging services like Auto Scaling, Elastic Load Balancing, and VPC. My expertise extends to cloud security, monitoring, and cost optimization techniques, ensuring efficient and secure cloud deployments.
                    </p>
                  </div>
                
                </div>
      
                <div *ngSwitchCase="'microsoft_skills_box_cont'">
      
      
                    <div class="modal-content" #modalContent>
                      <span class="modal-close" ></span>
                      <div class="modal_title_cont"> 
                        <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-microsoft-48.png'>
                        <h2 class="modal_title">Microsoft</h2> 
                         <div class="hidden_title_modal_cont"> </div>  
                      </div>                <p class="model_skill_description">
      
                        I have a proficient understanding of Microsoft technologies and frameworks, including .NET and ASP.NET. I have worked on developing and maintaining enterprise applications using Microsoft's stack, leveraging tools like Visual Studio and SQL Server. I am skilled in creating desktop applications, web applications, and APIs using C# and ASP.NET MVC. My knowledge extends to working with Microsoft Azure for cloud-based deployments, including Azure App Service, Azure SQL Database, and Azure Functions. With my expertise in Microsoft technologies, I am able to deliver reliable and scalable solutions on this platform.
                      </p>
                    </div>
                </div>
            
      
                <div *ngSwitchCase="'frontend_skills_box_cont'">
                  <div class="modal-content" #modalContent>
                    <span class="modal-close" ></span>
                    <div class="modal_title_cont"> 
                      <img class="modal_title_img" src = '../../../assets/img/about-me/icons8-front-end-64.png'>
                      <h2 class="modal_title">FrontEnd</h2> 
                       <div class="hidden_title_modal_cont"> </div>  
                    </div>              <p class="model_skill_description">yes them</p>
                  </div>
      
                </div>
      
                <div *ngSwitchDefault>
      
                  <p> nothing here</p>
                </div>
      
                
             </container-element>
      
             <div fxLayoutAlign = "center" style="width: 100%;"> 
                <button id="close_modal_btn" (click) = "closeModal()"> Exit</button>
      
             </div>
            </div>
            
       </div>  
      
       
      </section>

      <div id="page_dot_value_cont">

        <div class="page_dot_value" #page0_dot_value id="page0_dot_value" (click)="updateCurrentPageVal(0)"> </div>
        <div class="page_dot_value" #page1_dot_value id="page1_dot_value" (click)="updateCurrentPageVal(1)"> </div>
        <!-- <div class="page_dot_value" #page2_dot_value id="page2_dot_value" (click)="updateCurrentPageVal(2)"> </div> -->
      
      </div>
   </main> 































<!-- <main fxLayoutAlign = 'center' fxLayout = 'column' fxFlexAlign = 'center' >

    <div class="project_box" fxLayoutAlign = 'center' fxFlexAlign = 'center' fxLayout = 'column'>
        <div id="top_title_cont">
            <h1 id="top_tile"> Title 1 </h1>
        </div>
        
        <div id="project_img_cont">
                <img src="" alt="" id="project_img">
                
        </div>

        <div id="description_cont">
            
            <p>   
                asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg 
            </p>

        </div>

        
    </div>

    <div class="project_box" fxLayoutAlign = 'center' fxFlexAlign = 'center' fxLayout = 'column'>
        <div id="top_title_cont">
            <h1 id="top_tile"> Title 1 </h1>
        </div>
        
        <div id="project_img_cont">
                <img src="" alt="" id="project_img">
                
        </div>

        <div id="description_cont">

            <p>   
                asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg 
            </p>

        </div>

        
    </div>

    <div class="project_box" fxLayoutAlign = 'center' fxFlexAlign = 'center' fxLayout = 'column'>
        <div id="top_title_cont">
            <h1 id="top_tile"> Title 1 </h1>
        </div>
        
        <div id="project_img_cont">
                <img src="" alt="" id="project_img">
                
        </div>

        <div id="description_cont">
            <p>   
                asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg asdfagwqgqwgqwgeqwgeqg 
            </p>
        </div>

        
    </div>

</main> -->