
<main fxLayoutAlign = 'top' fxLayout = 'column' >

    <!-- <div class="shooting-star">
        <div class="star"> <img id="star_img" src="../../../../assets/img/home_img/icons8-star-of-bethlehem-30 (1).png" alt=""></div>
        <div class="trail"> <img src="../../../../assets/img/home_img/icons8-wavy-line-24.png" alt=""></div>
      </div>
       -->

       <!-- <div class="sky"></div> -->

    <div class ='basic_div_wrap title_name main_title' fxLayout='column' >
            <h1> Odisho Samano</h1>

            <h2 id="secondary_title">
                Software Engineer
            </h2>
    </div>

    <!--    <div class ='basic_div_wrap' fxLayoutAlign = 'center'>
        <div id="basic_img_wrap" fxLayoutAlign = 'center' >
            <img id="odi_icon_img"  src="../../../../assets/img/home_img/odi_head_shot_optimized.jpg">
        </div>
    </div> -->

    <div class ='basic_div_wrap' fxLayout = 'column'>
        <div class ='basic_div_wrap' >



        </div>


        <div class ='basic_div_wrap social_media_wrapper'>
            <div id="social_media_icon_container">

                <a class="social_media_icon" href="https://www.linkedin.com/in/odilink/" target="_blank">
                    <img src="../../../../assets/img/home_img/linkedin_icon_2.svg">
                </a>
                <a class="social_media_icon" href="mailto:osamsam321@gmail.com" target="_blank">

                    <img src="../../../../assets/img/home_img/gmail_icon_1.svg">

                </a>

                <a class="social_media_icon" href="https://github.com/osamsam321?tab=repositories" target="_blank">
                    <img src="../../../../assets/img/home_img/github_icon_1.png">
                </a>
            </div>

        </div>


    </div>


</main>

