
main
{
    width: 100%;
    min-height: 100%;
}
/* animation: fadeIn .7s ease-in-out; */


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
main{
    min-height: 100vh;
    height: auto;
    display: inline-block;
    width: 100%; /* Full width */
   /* background-image: url('/assets/img/home_img/colorful_mountain_1.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-color: rgba(0, 0, 0, 0.5);  */
}
/*@supports (background-image: url('/assets/img/home_img/colorful_mountain_1.webp')) {
    main {
        background-image: url('/assets/img/home_img/colorful_mountain_1.webp');
    }
}
@supports (background-image: url('/assets/img/home_img/colorful_mountain_1.avif')) {
    main {
        background-image: url('/assets/img/home_img/colorful_mountain_1.avif');
    }
} */
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, p, h3{
    color: rgb(240, 240, 240);
    letter-spacing: 2.2px;
    text-shadow: rgba(0, 0, 0, .3);
}
#odi_icon_img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: .8;

}
.basic_div_wrap
{
  animation: fadeIn .7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#social_media_icon_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#basic_img_wrap
{
    width: 175px;
    height: 175px;
}
.social_media_icon
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_media_icon, .social_media_icon img{
    border-radius: .5rem;
    width: 1.7rem;
    height: 1.7rem;
    padding: 5px;
}

.social_media_icon:hover, .social_media_icon:focus
{
    background-color: yellow;
    text-decoration: none;
    outline: none;
}



/* arial objects */
.sky {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 400px;
    background-color: transparent;
  }

  .plane_move_left {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .6;
    animation: move_arial_left 8s linear infinite;

  }
  .plane_move_right {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .6;
    animation: move_arial_right 8s linear infinite;

  }

  @keyframes move_arial_left {
    from {
      left: 105vw;
    }
    to {
      left: -5vw;
    }
  }

  @keyframes move_arial_right {
    from {
      left: 0vw;
    }
    to {
      left: 105vw;
    }
  }
  h1{
    font-weight: 500;
    font-stretch:ultra-expanded;
    font-family: 'Poppins', sans-serif;
    margin:0px;
  }
  h2{
    font-family: Roboto;
    font-weight: 400;
  }
  .small_phrase
  {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 250);
    font-family: Arial, Helvetica, sans-serif;
  }

/*
/* shooting start style */
/*
.shooting-star {
    position: absolute;
    left: -50px;
    top: 50px;
    animation: shooting-star 10s linear infinite;
  }

  .star {
    position: absolute;
    width: 50px;
    height: 50px;

    border-bottom: 20px solid transparent;
    transform: rotate(-25deg);
    background-color: transparent;
    opacity: .4;
  }

  #star_img
  {
    background-color: transparent;
  }

  .trail {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: transparent;
    transform: rotate(-45deg);
    opacity: 0;
    animation: trail 5s linear infinite;
  }

  @keyframes shooting-star {
    0% {
      transform: translate(0, 0) rotate(45deg);
    }
    100% {
      transform: translate(100vw, 0vh) rotate(45deg);
    }
  }

  @keyframes trail {
    0% {
      opacity: 1;
      transform: rotate(-45deg) translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: rotate(-45deg) translate(40px, 0);
    }
  }
    */

/* add extra margin for width phone or tablet screen */
@media only screen and (max-height: 800px) and (min-width: 400px) {
  .social_media_wrapper{
    margin-bottom: 70px;
    margin-top: 20px;
  }
    .main_title{
      margin-top:70px !important;
    }

}

/* Small devices (phones, 0px to 599px) */
@media only screen and (max-width: 599px) {
    main{
      background-size: 599px 800px;
    }
    .main_title{
      margin-top:58%;
    }
    h1{
      font-size: 35px;
    }
    h2{
      font-size: 12px;
    }
    p {
        font-size: 14px;
    }
    #basic_img_wrap {
        width: 120px;
        height: 120px;
    }
    #odi_icon_img {
        width: 80%;
        height: auto;
        border-radius: 100px;
    }
    .small_phrase {
        font-size: 14px;
    }
.social_media_icon, .social_media_icon img{
        width: 1.4rem;
        height: 1.4rem;
        padding: 4px;
    }
    #social_media_icon_container{
      width: 140px;
      margin-top:40px;
    }
    #secondary_title{
      margin-top: 13px;
    }
}

/* Medium devices (small tablets, 600px to 899px) */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    main{
      background-size: 899px 1200px;
    }
    .main_title{
      margin-top:40%;
    }
    h1{
      font-size: 55px;
    }
    h2{
      font-size: 13px;
    }
    p {
        font-size: 18px;
    }
    #basic_img_wrap {
        width: 145px;
        height: 145px;
    }
    #odi_icon_img {
        width: 90%;
        height: auto;
        border-radius: 100px;
    }
.social_media_icon, .social_media_icon img{
        width: 1.7rem;
        height: 1.7rem;
        padding: 4.5px;
    }
    #social_media_icon_container{
      width: 170px;
      margin-top: 50px;
    }
    #secondary_title{
      margin-top: 16px;
    }
}

/* Large devices (tablets, 900px to 1199px) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
    main{
      background-size: 1199px 1400px;
    }
    .main_title{
      margin-top:26%;
    }
    h1{
      font-size: 80px;
    }
    h2{
      font-size: 15px;
    }
    p {
        font-size: 19px;
    }
    #basic_img_wrap {
        width: 170px;
        height: 170px;
    }
    #odi_icon_img {
        width: 95%;
        height: auto;
        border-radius: 100px;
    }
.social_media_icon, .social_media_icon img{
        width: 1.6rem;
        height: 1.7rem;
        padding: 5px;
    }
    #social_media_icon_container{
      width: 200px;
      margin-top: 60px;
    }
    #secondary_title{
      margin-top: 19px;
    }
}

/* Extra-large devices (small laptops, 1200px to 1799px) */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
    .main_title{
      margin-top: 20%;
    }
    h1{
      font-size:100px;
    }
    h2{
      font-size:20px;
    }
    p {
        font-size: 20px;
    }
    #basic_img_wrap {
        width: 195px;
        height: 195px;
    }
    #odi_icon_img {
        width: 100%;
        height: auto;
        border-radius: 100px;
    }
.social_media_icon, .social_media_icon img{
        width: 1.7rem;
        height: 1.7rem;
        padding: 5.5px;
    }
    #social_media_icon_container{
      width: 240px;
      margin-top:70px;
    }
    #secondary_title{
      margin-top: 22px;
    }
}

/* Extra-extra-large devices (large laptops and desktops, 1800px and above) */
@media only screen and (min-width: 1800px) {
    .main_title{
      margin-top: 14.5%;
    }
    h1{
      font-size:105px;
    }
    h2{
      font-size:23px;
    }
    p {
        font-size: 22px;
    }
    #basic_img_wrap {
        width: 230px;
        height: 230px;
    }
    #odi_icon_img {
        width: 100%;
        border-radius: 120px;
        height: auto;
    }
    #social_media_icon_container{
      width: 240px;
    }
.social_media_icon, .social_media_icon img{
        width: 1.8rem;
        height: 1.8rem;
        padding: 6px;
    }
    #social_media_icon_container{
      width: 270px;
      margin-top: 80px;
    }
    #secondary_title{
      margin-top: 24px;
    }
}
