
<main fxLayoutAlign = 'center' fxLayout = 'column' >

    <!-- <div class="shooting-star">
        <div class="star"> <img id="star_img" src="../../../../assets/img/home_img/icons8-star-of-bethlehem-30 (1).png" alt=""></div>
        <div class="trail"> <img src="../../../../assets/img/home_img/icons8-wavy-line-24.png" alt=""></div>
      </div>
       -->

       <div class="sky"></div>

    <div class ='basic_div_wrap' fxLayoutAlign = 'center'> <h1> Odisho Samano</h1></div>

    <div class ='basic_div_wrap' fxLayoutAlign = 'center'> 
        <div id="basic_img_wrap" fxLayoutAlign = 'center' > 
            <img id="odi_icon_img"  src="../../../../assets/img/home_img/Untitled Project (6).jpg"> 
        </div>
    </div> 

    <div class ='basic_div_wrap' fxLayoutAlign = 'center' fxLayout = 'column'> 
        <div class ='basic_div_wrap' fxLayoutAlign = 'center'> 

            <h2 style="margin-top: 1%;"> 
                Software engineer 
            </h2>
    

        </div> 

        <div class ='basic_div_wrap'  fxLayoutAlign = 'center'> 
            <p style="margin-top: 1%;"> 
                Software engineer! Please use the arrows key, tabs to change tabs 
            </p>
    
        </div> 

        <div class ='basic_div_wrap' style="margin-top: 2%;" fxLayoutAlign = 'center'> 
            <div style="width:8%;" fxLayoutAlign = 'space-between' > 
               
                <a href="https://www.linkedin.com/in/odilink/" target="_blank">
                    <img class = 'social_media_icon' 
                    src="../../../../assets/img/home_img/icons8-linkedin-16.png">
                </a>
                <a href="mailto:osamsam321@gmail.com" target="_blank">

                    <img class = 'social_media_icon' 
                    src="../../../../assets/img/home_img/icons8-gmail-100.png">
                </a>

                <a href="https://github.com/osamsam321?tab=repositories" target="_blank">

                    <img class = 'social_media_icon' 
                    src="../../../../assets/img/home_img/icons8-github-94.png">
                </a>
            </div>

        </div> 
       

    </div>

    
</main>

