/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
    height:100vh;
    background-color: black;

    /* Firefox scrollbar styles */
}
.primary-active-highlight-color {
  color: green
}

.primary-default-color {
  color: rgb(250, 250, 250);
}
/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7f7f7f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cc7777;
}

@media only screen and (max-width: 599px) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px black;
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }

    /* Firefox scrollbar styles for small screens */
    body {
        scrollbar-width: 12px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    ::-webkit-scrollbar {
        width: 13px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }

    /* Firefox scrollbar styles for medium screens */
    body {
        scrollbar-width: 12px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    ::-webkit-scrollbar {
        width: 13px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }

    /* Firefox scrollbar styles for large screens */
    body {
        scrollbar-width: 14px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
    ::-webkit-scrollbar {
        width: 14px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }

    /* Firefox scrollbar styles for extra-large screens */
    body {
        scrollbar-width: 16px;
    }
}

@media only screen and (min-width: 1800px) {
    ::-webkit-scrollbar {
        width: 16px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black;
        border-radius: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }

    /* Firefox scrollbar styles for ultra-wide screens */
    body {
        scrollbar-width: 30px;
    }
}

